In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('./df_pitcher.csv')
df

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,2B,3B,SAC,SF,IBB,WP,BK,연도,연봉,WAR
0,2,양현,키움,1.99,29,1,0,0,1,1.000,...,5,1,1,1,0,0,0,2020,9000.0,0.72
1,3,오주원,키움,2.32,57,3,3,18,3,0.500,...,7,0,3,3,0,1,0,2020,20000.0,-0.12
2,4,김성민,키움,2.56,50,2,0,0,5,1.000,...,13,1,1,0,0,4,0,2020,9700.0,-0.21
3,5,조상우,키움,2.66,48,2,4,20,8,0.333,...,3,0,2,2,0,1,0,2020,20000.0,2.29
4,6,윤영삼,키움,2.87,54,3,3,1,3,0.500,...,12,2,3,3,1,3,0,2020,9800.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
732,14,오원석,SSG,5.23,28,8,10,0,0,0.444,...,22,2,5,7,0,11,0,2024,14000.0,2.95
733,15,문승원,SSG,5.23,50,5,8,1,9,0.385,...,27,1,4,2,1,3,0,2024,18000.0,1.09
734,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,13,1,3,3,2,3,0,2024,7400.0,0.49
735,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,9,1,4,4,0,8,2,2024,4500.0,0.81
736,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,13,1,3,4,0,2,0,2024,110000.0,0.08